.next {
    position:relative;
    left: 775px;
}

#wrapper {
    width: 800px;
}

body, #header, #page, #content, #wrapper  {
    background: black;
}
div#statusbar {
    background: black;
    border-top: 10px white solid;
    
}
body div.a2a_menu_inside {
background: white;
}
.sf-menu a {
    border-left: 0px solid black;
    color: #ff33cc;
    background-color: black;
}
.sf-menu li:hover {
    visibility: none;
}

div.wrapper{
    background: black;
    color: white;
    }
#content a{
    color: #ff33cc;
}
    
ul li {
list-style-image: none;
list-style-type: none;
}

button.vote_button {
    height : 39px;
    width : 85px;
    border-style:none;
    border-padding: none;
}
.body {
    font-size: 1.4em;
    color: white;
}
.age_gender .u_id {
    color: grey;
}
.love_answer {
    color: #ff33cc;
    font-size: 25;
}
.age_gender {
    color: grey;
}
.u_id {
    color: grey;
    }

.leave_answer {
    color: #66ffff;
    position: relative;
    left: 20px;
    font-size: 25;
}
#content {
    background: black;
    font-family: "Arial Rounded MT Bold", Arial, sans-serif;
    font-size: 1.08em;
    color: white;
}
